@use '../../assets/styles/variables';
@use '../../assets/styles/mixins';

.layout__header {
	background-color: variables.$meli-yellow;
}

.layout__main {
	background-color: variables.$meli-light-grey;
	flex-grow: 1;
}

.layout__header,
.layout__main {
	padding: 0 variables.$space-sm;

	@include mixins.md {
		padding: 0 variables.$space-xl;
	}

	@include mixins.lg {
		padding: 0 calc(1.5 * variables.$space-xxl);
	}
}
