@use '../../assets/styles/variables';

.searchbox__container {
	display: flex;
	align-items: center;
	height: 50px;
}

.searchbox__logo {
	margin-right: variables.$space-md;
}

.searchbox__form {
	display: flex;
	width: 100%;
}

.searchbox__input {
	border: none;
	height: 34px;
	width: 100%;
	padding: variables.$space-xs variables.$space-md;
	outline: none;
	color: variables.$meli-black;
	font-size: 16px; /* NOTE: design says 18px, I disagree */
}

.searchbox__input::placeholder {
	color: variables.$meli-grey;
}

.searchbox__submitbutton {
	background-color: variables.$meli-light-grey;
	border: none;
	width: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
