@use '../../assets/styles/variables';

.breadcrumbs__container {
	padding: variables.$space-md 0;
	font-size: 14px;
	color: variables.$meli-grey;
	min-height: 42px;
}

.breadcrumbs__item-last {
	font-weight: bold;
}
